:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
  --base-font-size: 1rem;
  --base-font-weight: normal;
  --base-line-height: 1.42;
  --base-background: #fff;
  --base-color: #000;

  --base-link-color: var(--global-color-primary);
  --base-link-decoration: none;
  --base-link-color-hover: var(--global-color-primary-hover);
  --base-link-decoration-hover: underline;
  --base-link-color-focus: var(--global-color-primary-hover);
  --base-link-decoration-focus: underline;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: var(--base-background);
  color: var(--base-color);
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

a {
  color: var(--base-link-color);
  text-decoration: var(--base-link-decoration);
  cursor: pointer;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline: none;
}

a:hover {
  color: var(--base-link-color-hover);
  text-decoration: var(--base-link-decoration-hover);
}

a:focus {
  color: var(--base-link-color-focus);
  text-decoration: var(--base-link-decoration-focus);
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

:not(pre)>code,
:not(pre)>kbd,
:not(pre)>samp {
  font-family: Consolas, monaco, monospace;
  font-size: 0.875rem;
  color: #f0506e;
  white-space: nowrap;
  padding: 2px 6px;
  background: #f8f8f8;
}

em {
  color: #f0506e;
}

ins {
  background: #ffd;
  color: #666;
  text-decoration: none;
}

mark {
  background: #ffd;
  color: #666;
}

q {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
canvas,
img,
video {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

img:not([src]) {
  visibility: hidden;
}

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
  margin: 0 0 20px 0;
}

*+p,
*+ul,
*+ol,
*+dl,
*+pre,
*+address,
*+fieldset,
*+figure {
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: none;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  margin-top: 40px;
}

h1 {
  font-size: 2.23125rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}

h5 {
  font-size: 16px;
  line-height: 1.4;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.4;
}

ul,
ol {
  padding-left: 30px;
}

ul>li>ul,
ul>li>ol,
ol>li>ol,
ol>li>ul {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  text-align: inherit;
  margin: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

*+hr {
  margin-top: 20px;
}

address {
  font-style: normal;
}

blockquote {
  margin: 0 0 20px 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-style: italic;
  color: #333;
}

*+blockquote {
  margin-top: 20px;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote footer {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

pre {
  font: 0.875rem / 1.5 Consolas, monaco, monospace;
  color: #666;
  tab-size: 4;
  overflow: auto;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background: #fff;
}

pre code {
  font-family: Consolas, monaco, monospace;
}

::-moz-selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

iframe {
  border: 0;
}

a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[hidden] {
  display: none !important;
}