:root {
  --form-height:                                   var(--global-control-height);
  --form-line-height:                              1.4;
  --form-padding:                                  6px 14px;

  --form-background:                               #f5f5f5;
  --form-color:                                    var(--global-color);

  --form-focus-background:                         #e7e6e6;
  --form-focus-color:                              var(--global-color);

  --form-disabled-background:                      #e7e6e6;
  --form-disabled-color:                           var(--global-muted-color);

  --form-placeholder-color:                        var(--global-muted-color);

  --form-invalid-color:                            var(--global-danger-background);
  --form-valid-color:                              var(--global-success-background);

  --form-select-padding-right:                     20px;
  --form-select-option-color:                      #444;

  --form-radio-size:                               16px;
  --form-radio-margin-top:                         -4px;
  --form-radio-background:                         #f5f5f5;

  --form-radio-checked-background:                 #ececec;

  --form-radio-checked-focus-background:           #ececec;

  --form-radio-disabled-background:                #ececec;

  --form-legend-font-size:                         var(--global-font-size);
  --form-legend-line-height:                       1.4;

  --form-control-margin-bottom:                    var(--global-margin);

  --form-icon-width:                               var(--form-height);
  --form-icon-font-size:                           var(--global-font-size);
  --form-icon-color:                               var(--global-muted-color);
  --form-icon-hover-color:                         var(--global-color);

  --form-range-thumb-height:                       15px;
  --form-range-thumb-border-radius:                500px;
  --form-range-thumb-background:                   var(--global-color);

  --form-range-track-height:                       3px;
  --form-range-track-background:                   var(--global-muted-background);
  --form-range-track-focus-background:             var(--global-muted-background);

  --internal-form-select-image:                    url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16" fill="black"><path d="M12 1l-3 5h6z"></path><path d="M12 13l-3-5h6z"></path></svg>');
  --internal-form-radio-image:                     url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="black"><path d="M10 8c0 1.105-0.895 2-2 2s-2-0.895-2-2c0-1.105 0.895-2 2-2s2 0.895 2 2z"></path></svg>');
  --internal-form-checkbox-image:                  url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" stroke="black"><path fill="none" stroke="inherit" stroke-width="1.8824" stroke-miterlimit="50" stroke-linecap="butt" stroke-linejoin="miter" d="M20.028 2.353l-12.028 12.028-6.381-6.381"></path></svg>');
  --internal-form-checkbox-indeterminate-image:    url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="black"><path d="M3 8h10v1h-10v-1z"></path></svg>');
}


input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="radio"]:not(:disabled),
[type="checkbox"]:not(:disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: var(--form-legend-font-size);
  line-height: var(--form-legend-line-height);
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

::-webkit-datetime-edit,
::-webkit-inner-spin-button {
  height: auto;
}

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type="month"],
input[type=week],
input[type=text],
input[type=time],
input[type=url],
textarea,
select {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: var(--form-padding);
  min-height: var(--form-height);
  background: var(--form-background);
  border: none;
  color: var(--form-color);
  box-shadow: 0 0 0 0 transparent inset;
  border-radius: 0;
}

::placeholder {
  color: var(--form-placeholder-color);
  opacity: 1;
}

input:not([type]):focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type="month"]:focus,
input[type=week]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  background: var(--form-focus-background);
  color: var(--form-focus-color);
}

input:not([type])[disabled],
input[type=date][disabled],
input[type=datetime-local][disabled],
input[type=email][disabled],
input[type=file][disabled],
input[type=number][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type="month"][disabled],
input[type=week][disabled],
input[type=text][disabled],
input[type=time][disabled],
input[type=url][disabled],
textarea:disabled,
select:disabled {
  pointer-events: none;
  opacity: .45;
  background: var(--form-disabled-background);
  color: var(--form-disabled-color);
}

select:not([multiple]):not([size]) {
  padding-right: var(--form-select-padding-right);
  background-image: var(--internal-form-select-image);
  background-repeat: no-repeat;
  background-position: 100% 50%
}

select:not([multiple]):not([size])::-ms-expand {
  display: none
}

select:not([multiple]):not([size]) option {
  color: var(--form-select-option-color)
}

select:not([multiple]):not([size]):disabled { 
  background-image: var(--internal-form-select-image);
}

input[type="radio"],
input[type="checkbox"] {
  border: none;
  display: inline-block;
  height: var(--form-radio-size);
  width: var(--form-radio-size);
  overflow: hidden;
  margin-top: var(--form-radio-margin-top);
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--form-radio-background);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50% 50%;
}

input[type="radio"] {
  border-radius: 50%
}

input[type="radio"]:checked {
  background-image: var(--internal-form-radio-image);
}

input[type="checkbox"]:checked {
  background-image: var(--internal-form-checkbox-image);
}

input[type="checkbox"]:indeterminate {
  background-image: var(--internal-form-radio-image);
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked,
input[type="checkbox"]:indeterminate {
  background-color: var(--form-radio-checked-background);
}

input[type="radio"]:checked:focus,
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus {
  background-color: var(--form-radio-checked-focus-background);
}

input[type="radio"]:disabled:checked {
  background-image: var(--internal-form-radio-image);
}

input[type="checkbox"]:disabled:checked {
  background-image: var(--internal-form-checkbox-image);
}

input[type="checkbox"]:disabled:indeterminate {
  background-image: var(--internal-form-checkbox-indeterminate-image);
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  background-color: var(--form-radio-disabled-background);
}

input[type="range"] {
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  padding: 0;
}

input[type="range"]:focus { outline: none; }
input[type="range"]::-moz-focus-outer { border: none; }

input[type="range"]::-ms-track {
  height: var(--form-range-thumb-height);
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]:not(:disabled)::-webkit-slider-thumb { cursor: pointer; }
input[type="range"]:not(:disabled)::-moz-range-thumb { cursor: pointer; }
input[type="range"]:not(:disabled)::-ms-thumb { cursor: pointer; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: calc((var(--form-range-thumb-height) / 2) * -1);
  height: var(--form-range-thumb-height);
  width: var(--form-range-thumb-height);
  border-radius: var(--form-range-thumb-border-radius);
  background: var(--form-range-thumb-background);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: var(--form-range-thumb-height);
  width: var(--form-range-thumb-height);
  border-radius: var(--form-range-thumb-border-radius);
  background: var(--form-range-thumb-background);
}

input[type="range"]::-ms-thumb {
  margin-top: 0;
}

input[type="range"]::-ms-thumb {
  border: none;
  height: var(--form-range-thumb-height);
  width: var(--form-range-thumb-height);
  border-radius: var(--form-range-thumb-border-radius);
  background: var(--form-range-thumb-background);
}

input[type="range"]::-ms-tooltip { display: none; }

input[type="range"]::-webkit-slider-runnable-track {
  height: var(--form-range-track-height);
  background: var(--form-range-track-background);
}

input[type="range"]:focus::-webkit-slider-runnable-track,
input[type="range"]:active::-webkit-slider-runnable-track {
  background: var(--form-range-track-focus-background);
}

input[type="range"]::-moz-range-track {
  height: var(--form-range-track-height);
  background: var(--form-range-track-background);
}

input[type="range"]:focus::-moz-range-track {
  background: var(--form-range-track-focus-background);
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  height: var(--form-range-track-height);
  background: var(--form-range-track-background);
}

input[type="range"]:focus::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-upper {
  background: var(--form-range-track-focus-background);
}

label.is-invalid {
  color: var(--form-invalid-color);
}

label.is-valid {
  color: var(--form-valid-color);
}

input.is-invalid,
input.is-invalid:focus {
  color: var(--form-invalid-color);
  border-color: var(--form-invalid-color);
}

input.is-valid,
input.is-valid:focus {
  color: var(--form-valid-color);
  border-color: var(--form-valid-color);
}

.form-control {
  margin-bottom: var(--form-control-margin-bottom);
}

.form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--form-icon-width);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--form-icon-color);
}

.form-icon:hover { color: var(--form-icon-hover-color); }

.form-icon:not(a):not(button):not(input) { pointer-events: none; }

.form-icon:not(.form-icon-flip) ~ input { padding-left: var(--form-icon-width) !important; }

.form-icon-flip {
  right: 0;
  left: auto;
}

.form-icon-flip ~ input { padding-right: var(--form-icon-width) !important; }